-# coding: utf-8

- @home = true
#introizer
  %section#intro.row
    #awesomalizer.row
      .four.columns
        %img{:src=>"/images/explora-logo_01.png", :alt=>"The Comic Relief"}
      .eight.columns
        %img{:src=>"/images/explora-logo_03.png", :alt=>"Exploralaboratorium!"}
          
    .row
      .five.columns
        %h2
          The challenge
        
        %p#the_challenge
          How can Comic Relief raise money 365 days a year, using digital stuff?
      
        %h2
          The approach

        
        %ol
          %li Gather ideas
          %li Make hacks
          %li Learn quickly
          %li Launch products
        %p
          %a#reveal-approach.button.radius{:href=>"/about"} More about the approach

      .seven.columns
        .speakerdeck
          <script async class="speakerdeck-embed" data-id="5050958f256d92000206a0d2" data-ratio="1.7777777777777777" src="//speakerdeck.com/assets/embed.js"></script>

#ideaoblator
  %section#ideas.row
    %h1
      Our Ideas
      %br
      %small
        Digital stuff that could raise money for Comic Relief 365 days a year
    .row
      .three.columns
        %p
          %a.button.radius{:href=>"#", :"data-reveal-id"=>"new_idea"} Suggest your idea
      .nine.columns
        %p
          We're inviting anyone who works at Comic Relief to suggest ideas for products we could make. If you've got an idea that you'd like to see made in the next two months, share your suggestion with us!
    
    %h2
      For instance…
    .ideas.row
      .four.columns
        .idea
          %h3
            If this then give
          %p
            A tool that "listens" to what you do online, and if you "like" something on Facebook, or favourite on Twitter, and it's about a charity then a small payment is taken out of your account.
      .four.columns
        .idea
          %h3
            Dare club
          %p
            Get your friends to give to charity by challenging them to do awesome and silly dares.
      .four.columns
        .idea
          %h3
            Donate to a specific cause
          %p
            Something that Nick will explain to you when you pop in and see us at the top of the stairs.
    - Idea.all.order_by([[:created_at, :desc]]).each_slice(3) do |row|
      .ideas.row
        - row.each do |idea|
          .four.columns
            .idea
              %h3
                = idea.title
              = simple_format(h(idea.description[0..512]))
    .row
      .twelve.columns
        .centered
          .button_emphasis
            %p
              %a.button.radius{:href=>"#", :"data-reveal-id"=>"new_idea"} Suggest your idea

#hackatibulator
  %section#hacks.row
    %h1
      The Hacks
      %br
      %small
        Six prototypes that could be made in a week
    .hackety
      %h2
        Week 1
        %em
          Coming Soon

      .hack
        %img.corner{:src=>"/images/hack-1.png", :alt=>"Hack 1"}
        %h2
          Starts 1st October
    
#contactualizer    
  %section#contact.row
    %h1
      Come and say hi!
    %p
      The team is going to be hacking, playing and making at the top of the stairs in the Comic Relief office. Come and say hi any time.

    %p
      %a.button.radius{:href=>"mailto:labs@comicrelief.com"} Email labs@comicrelief.com


#new_idea.reveal-modal
  %h2
    Your idea for the
    %br
    Exploralaboratorium?
  %p.lead
    If you have an idea for how Comic Relief could make money 365 days a year, using digital stuff, submit it here. If its a good idea, we'll work with you to make it into a hack that you can go and test with users, and then hopefully turn into a real, working, digital product or service.

  - form_for Idea.new, "/ideas" do |f|

    .row
      = label_tag :name, :caption => "Your name"
      = f.text_field :name
    .row.collapse
      = label_tag :email, :caption => "Your comic relief email"
      .six.columns.mobile-two
        = f.text_field :email
      .six.columns.mobile-two
        %span.postfix
          @comicrelief.com
    .row
      = label_tag :title, :caption => "The title of your idea"
      = f.text_field :title

    .row
      = label_tag :description, :caption => "Describe your idea"
      = f.text_area :description
      %ul
        %li
          Overview of the concept
        %li
          How you think it might make or raise money 
        %li
          Who you think will use it
    .row
      .twelve.columns
        %p
          %button.button{:type=>"submit"} Suggest it!
  
  %a.close-reveal-modal &#215;
